.benefit {
    padding: 7px 20px 40px;

    &__title {
        margin-bottom: 40px;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
    }

    &__item {
        padding-left: 80px;
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: "";
            width: 60px;
            height: 60px;
            background-color: $success-color;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-1 {
            &::before {
                background-image: url(../img/icon_leaf.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-2 {
            &::before {
                background-image: url(../img/icon_tub.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-3 {
            &::before {
                background-image: url(../img/icon_eat.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-4 {
            &::before {
                background-image: url(../img/icon_alarm.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__number {
        display: none;
    }
}

@media (min-width: $width-tablet) {
    .benefit {
        padding: 15px 30px 47px;
        border-bottom: 1px solid #e6e6e6;

        &__title {
            margin-bottom: 70px;
            font-size: 60px;
            line-height: 60px;
        }

        &__list {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 240px;
            padding: 140px 0 60px;
            margin-bottom: 37px;
            font-size: 16px;
            line-height: 24px;
            z-index: 2;

            &::before {
                content: "";
                width: 60px;
                height: 60px;
                background-color: $success-color;
                position: absolute;
                top: 35px;
                left: 0;
            }

            &-1 {
                &::before {
                    background-image: url(../img/icon_leaf.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &-2 {
                &::before {
                    background-image: url(../img/icon_tub.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &-3 {
                &::before {
                    background-image: url(../img/icon_eat.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &-4 {
                &::before {
                    background-image: url(../img/icon_alarm.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &__number {
            display: block;
            font-family: "Oswald";
            font-weight: 400;
            font-size: 280px;
            line-height: 280px;
            color: #f2f2f2;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}

@media (min-width: $width-desktop) {
    .benefit {
        padding: 15px 110px 0;
        border-bottom: none;
    }
}
