body {
    background: gray;
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.page {
    width: 320px;
    margin: 0 auto;
    background: #fff;
}

.logo {
    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.btn {
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: $success-color;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: $btn-bg-hover;
    }
    &:active {
        color: rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: $width-tablet) {
    .page {
        width: $width-tablet;
    }
}

@media (min-width: $width-desktop) {
    .page {
        width: $width-desktop;

        &-index {
            background: #fff url(../img/index-bg-desktop.png) no-repeat top
                right;
        }
    }
}
