.form-program {
    &__box {
        padding: 0 20px 27px;
        display: flex;
        flex-flow: column;

        &_bottom-line {
            border-bottom: 1px solid #d9d9d9;
        }

        &_top-line {
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background: $success-color;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &__bl {
        margin-bottom: 13px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        display: inline-block;
        margin-bottom: 30px;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;

        &_top-indent {
            padding-top: 25px;
        }
    }

    &__label {
        font-family: "Oswald";
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        cursor: pointer;

        &-text {
            margin-right: 15px;
        }

        &-radio {
            margin-bottom: 15px;
            padding-left: 45px;
            line-height: 30px;
            position: relative;

            &:first-of-type {
                margin-top: 20px;
            }

            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border: 1px solid #cdcdcd;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                width: 13px;
                height: 13px;
                background: $success-color;
                border-radius: 50%;
                position: absolute;
                top: 8.5px;
                left: 8.5px;
                opacity: 0;
            }

            &:hover::before {
                border-color: #bababa;
            }

            &:active {
                opacity: 0.3;
            }
        }

        &-checbox {
            margin-bottom: 15px;
            padding-left: 45px;
            line-height: 30px;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border: 1px solid #cdcdcd;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                width: 26px;
                height: 26px;
                background: url(../img/tick.png) no-repeat center;
                position: absolute;
                top: 2px;
                left: 2px;
                opacity: 0;
            }

            &:hover::before {
                border-color: #bababa;
            }

            &:active {
                opacity: 0.3;
            }
        }
    }

    &__input-text {
        flex: 1;
        height: 45px;
        padding: 0 15px;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        border: 1px solid #e7e7e7;

        &:not(.form-program__input-text:focus) {
            transition: 0.2s;
        }

        &:hover {
            border-color: #cdcdcd;
        }

        &:focus {
            border: 2px solid $primary-color;
        }

        &_error {
            border: 2px solid $danger-color;
        }
    }

    &__input-radio:checked + .form-program__label-radio::after {
        opacity: 1;
    }

    &__input-checbox:checked + .form-program__label-checbox::after {
        opacity: 1;
    }

    &__textarea {
        width: 100%;
        height: 150px;
        padding: 10px 15px;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        border: 1px solid #e7e7e7;
    }

    &__btn {
        width: 280px;
        margin: 0 20px 20px;
        line-height: 40px;
    }

    &__note {
        margin-bottom: 30px;

        line-height: 16px;
        text-align: center;
    }
}
