.program-selection {
    &__title {
        padding: 27px 20px 37px;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        border-top: 1px solid #d9d9d9;
    }

    &__subtitle {
        margin-bottom: 40px;
        padding: 0 20px;
        font-family: "Oswald";
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }
}

@media (min-width: $width-tablet) {
    .program-selection {
        &__title {
            padding: 34px 30px 54px;
            font-size: 60px;
            line-height: 60px;
            border-top: none;
        }

        &__subtitle {
            width: 325px;
            margin: 0 0 66px 70px;
            padding: 0;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media (min-width: $width-desktop) {
    .program-selection {
        &__title {
            padding: 44px 110px 56px;
        }

        &__subtitle {
            margin-left: 110px;
        }
    }
}
